# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore virtual environment folder
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore large tar.gz files
CelestialCoders_SCC_Problem3/image_model/data/*.tar.gz

# Ignore best_model.pth
CelestialCoders_SCC_Problem3/image_model/best_model.pth

# Ignore the 'data' directory
CelestialCoders_SCC_Problem3/image_model/data/